
:root{
	--color-dorado: #EDB44D;
	--color-general: #adb0b8;
	--color-titulos: #dbdce4;
	--fondo-negro: #09090d;
	--fondo-azul: #101117;
	--fondo-features: #121520;
	--fondo-footer: #040406;
	--color-footer: #373946;
}
body{
	
	font-size: 14px;
	color: var(--color-general);
}
h1,h2,h3,h4,h5,h6{
	color: var(--color-titulos);
}
h1{
/*	Im swape*/
	font-size: 90px;
	font-weight: 700;
}
h2{
/*	features download*/
	font-size: 50px;
	font-weight: 500;
}
h3{
/*	Subscribe to newsletter*/
	font-size: 40px;
	font-weight: 500;
}
h4{
/*	beauttiful modern*/
	font-size: 25px;
	font-weight: 200;
	color: var(--color-dorado)
}
h5{
	/*	mini subtitles*/
	font-size: 18px;
	font-weight:700;
}
p{
	color: var(--color-general);
	font-size: 15px;
}
#hero p{
	color: var(--color-general);
	font-size: 18px;
	margin:40px 60px 60px 0px;
}
.margin-p{
	margin:40px 200px 60px 200px;
	padding-right: 50px;
	padding-left: 50px;
}
header{
	background-color: #fff;
	position: absolute;
	width: 100%;
}

#hero{
	background-color: var(--fondo-negro);
	padding: 200px 200px 0px 200px;
	margin: 10 10;
}
.btn-base{
	background-color: var(--color-footer);
	color: #fff;
	padding: 5px 30px;
	border-radius: 40px;
	font-size: 12px;
	font-weight: 500;
}
.btn-base:hover{
	background-color: var(--color-dorado);
	color: #fff;
}

#features{
	background-color: var(--fondo-azul);
	padding-bottom: 200px;
}

.yellow-icon{
	font-size: 60px;
	color: var(--color-dorado);
	margin-top: 0px;
	padding-top: 180px;
/*
	background-color: var(--color-dorado);
	padding: 5px 10px 5px 10px;
	border-radius: 80px; 
*/
}

.icon-set{
	font-size: 30px;
	color: #FFFFFF;
	background-color: var(--color-dorado);
	padding: 20px 20px 20px 20px;
	border-radius: 80px;
}

#subscribe{
	background-color: var(--fondo-negro);
	padding: 100px;
	
	align-items: center
/*	margin-left: 300px;*/

}
.titulo{
	text-align: center;
	color: #FFFFFF;
	font-size: 40px;
	margin-bottom: 20px
}
p{
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	
}
form{
	
	margin-top: 70px;
	margin-left: 200px;
	margin-right: -600px;
	

		
}
.form-control{
	border-radius: 100px;
}

.btn-form{ 
	background-color: var(--color-dorado);
	margin-top: 8px;
	border-radius: 50px;	
	
}

footer{
	color: #FFFFFF;
	text-align: center;
	background-color: var(--fondo-footer);
}